#dangChieu .slick-slide > div,
#sapChieu .slick-slide > div {
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
}
.item-film #btnBuyTicket {
    visibility: visible;
    opacity: 1;
}
.item-film {
    width: 25%;
    margin-bottom: 20px;
    .item-film-detail {
        padding: 0 10px;
        .film-img {
            position: relative;
            .film-image {
                border-radius: 5px;
                width: 100%;
                height: 318px;
            }
            .rating {
                font-size: 16px;
                text-align: center;
                line-height: 1.1;
                position: absolute;
                top: 10px;
                right: 10px;
                border: 1px solid #1f2e46;
                background-color: rgba(12, 27, 54, 0.8);
                border-radius: 2px;
                color: white;
                font-weight: 700;
                width: 50px;
                // height: 20px;
                z-index: 3;
                img {
                    max-width: 8px;
                    display: inline-block;
                }
            }
            .play-button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
                width: 60px;
                height: 60px;
                opacity: 0;
                transition: all 0.2s;
                cursor: pointer;
                &:hover {
                    opacity: 0.7;
                }
            }
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to top, #000, transparent 100%);
                z-index: 2;
                border-radius: 5px;
                transition: all 0.2s;
                visibility: hidden;
                opacity: 0;
            }
        }
        .film-info {
            margin-top: 10px;
            position: relative;
            .film-title {
                // position: absolute;
                transition: all 0.2s;
                z-index: 2;
                .film-name {
                    height: 42px;
                    max-height: 42px;
                    font-weight: 700;
                    font-size: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .rated {
                    display: inline-block;
                    text-align: center;
                    color: white;
                    font-weight: 700;
                    min-width: 33px;
                    padding: 0 5px;
                    line-height: 22px;
                    text-align: center;
                    border-radius: 4px;
                    background-color: #00ac4d;
                    margin-right: 5px;
                    font-size: 14px;
                }
            }
            .length {
                font-size: 13px;
                margin-top: 10px;
            }
            #btnBuyTicket {
                position: absolute;
                top: 8px;
                left: 0;
                font-size: 20px;
                width: 100%;
                padding: 10px 20px;
                border-radius: 5px;
                font-weight: 400;
                color: white;
                line-height: 1.5;
                text-transform: uppercase;
                background: linear-gradient(to left, #fb4226, #ce3017 100%);
                border: none;
                opacity: 0;
                transition: all 0.2s;
                z-index: 2;
                &:focus {
                    border: none;
                }
                &:active {
                    background-color: #fb4226;
                }
            }
        }
        &:hover {
            .film-title {
                opacity: 0;
            }
            #btnBuyTicket {
                visibility: visible;
                opacity: 1;
                &:hover {
                    background: #fb4226;
                }
            }
            .overlay {
                visibility: visible;
                opacity: 1;
            }
            .play-button {
                opacity: 1;
            }
        }
    }
}
//arrow
#dangChieu,
#sapChieu {
    .slick-arrow {
        position: absolute;
        top: 44%;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 50px;
        height: 100px;
    }
    .slick-prev {
        background-image: url(./../../../assets/images/back-session.png);
        left: -55px;
    }
    .slick-next {
        background-image: url(./../../../assets/images/next-session.png);
        right: -55px;
    }
    .slick-next::before,
    .slick-prev::before {
        content: unset;
    }
}

//responsive
@media screen and (max-width: 900px) {
    .item-film .item-film-detail .film-img .film-image {
        height: 237px;
    }
}
