#loading {
    height: 100vh;
    .loadingImg {
        animation: loading 2s infinite;
    }
}
@keyframes loading {
    0% {
        transform: rotate(-20deg);
    }

    25% {
        transform: rotate(20deg);
    }

    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(20deg);
    }
}
