#news{
    padding: 20px 0;
    clear: both;
}
.newsMain {
    max-width: 940px;
    margin: auto;
    ul {
        display: flex;
        justify-content: center;
        border-bottom: none;
        margin-bottom: 10px;
        .nav-item {
            text-align: center;
            padding: 10px 15px;
            a {
                color: #000;
            }
            .nav-link {
                line-height: 24px;
                font-size: 20px;
                border: none;
                transition: all 0.5s;
                &:active {
                    border: none;
                }
                &:focus,
                &:hover {
                    border: none;
                    font-size: 24px;
                }
            }
            .nav-link.active {
                font-size: 24px !important;
                color: #fb4226;
            }
        }
    }
   
}
.news-item {
    display: flex;
    justify-content: space-between;
    .news-detail {
        width: 50%;
        padding: 0 7.5px;
        img.thumbnail {
            width: 100%;
            border-radius: 4px;
        }
        .social {
            height: 25px;
            width: 100%;
            div {
                display: inline-block;
                height: 100%;
                a {
                    color: black;
                    img {
                        height: auto;
                        width: 18px;
                    }
                    p {
                        display: inline-block;
                        margin-left: 4px;
                        opacity: 0.4;
                    }
                    &:hover {
                        color: black;
                        text-decoration: none;
                    }
                }
            }
            .social-like {
                margin-right: 25px;
            }
        }
        .title {
            // white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 5px;
            margin-top: 10px;
            line-height: 20px;
            font-size: 16px;
            height: 42px;
            font-weight: 600;
        }
        .desc {
            margin-bottom: 15px;
            padding-right: 5px;
            font-size: 13px;
            letter-spacing: 1px;
            text-align: justify;
        }
    }
}
.news-bottom {
    margin-top: 20px;
}
//list-news
.list-item {
    // float: left;
    margin-bottom: 15px;
    padding: 0 7.5px;
    .list-img {
        img {
            width: 50px;
            border-radius: 4px;
            // display: block;
        }
    }
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 20px;
        font-size: 16px;
        height: 42px;
        opacity: 0.7;
    }
}
//see more
.seeMore{
    text-align: center;
    .btnSeeMore{
        margin: 20px 0;
        outline: none;
        border-radius: 4px;
        border: none;
        padding: 7px 25px;
        border: 1px solid #949494;
        background-color: white;
        color: #949494;
        text-transform: uppercase;
        transition: all ease .2s;
        &:hover{
            background-color: #fb4226;
            color: white;
            border: 1px solid #fb4226;
        }
    }
}

